.App {
  text-align: center;
  outline: solid 1px gray;
  margin-left: 50px;
  margin-right: 50px;
}

#results {
  margin-left: 50px;
  margin-right: 50px;
  outline: solid 1px gray;
}

#BookHere {
  margin-left: 20px;
  margin-right: 20px;
  outline: solid 1px gray;
}

.inside{
  margin-left: 20px;
  margin-right: 20px;}

#book{
  width: 400px;
}

#srch{
  float:right; 
}

#seconddiv{
  margin-left: 50px;
  margin-right: 50px;
  outline: solid 1px gray;
}

#introone {
  outline: 1px solid black;
}

#gb {
float: left;
}
